
/****************************************
 == RESETS ==
*****************************************/
/****************************************
  Inherited Syles
*****************************************/
html {
    box-sizing: border-box;
    color: #444;
    font: 12.5pt 'Open Sans', Arial;
    font-weight: 300;
}

/****************************************
  Defaults
*****************************************/
form, formL {
    position: relative;
    top: -17px;
    right: -713px;
}

form button {
	color: white;
	background-color: #eee;
	box-shadow: -4px -2px blue;
}
.selection button {
	background-color: #ddd;
	position: relative;
	font-size: 16px;
	padding:0px;
   }


/****************************************
  Layout
*****************************************/
.parentL {
	width: 1156px;
	height: 1150px;
}

.heroL {
	width: 960px;
	width: 960px;
}

.titleL p {
	width:87px;
}

headerL {
	height: 97px;
}

navl a {
	height:0px;
}

.bottomheroL {
	height: 300px;
}

.greatHeroL {
height: 109px;
}

.primary-contentL {
	width: 960px;
}

.selectionL {
	height:150px;
	width:120px;
}

.bottomprimaryL {
	height:540px;
}

.puppyrowL {
	height:85px;
	width: 380px;
}

mainL{
	height:534px;
}

.puppytile {
	height: 200px;
	width: 160px;
}

 .puppyrow .titleL {
	flex:1;
 	height:70px;
 }
/****************************************
  Components
*****************************************/

html {
	font-family: 'Open Sans';
}


.parent, .parentL {
	background-color: teal;
	padding: 0px;
	width: 1156px;
	height: 1150px;
}


.hero, .heroL {
	width: 960px;
	width: 960px;
	background-color: #00CCFF;
	padding-left: 99px;
	padding-right: 99px;
}

.title p, .titleL p {
	color: white;
	background-color: red;
	font-family: 'Open Sans';
	text-decoration: underline;
	width:87px;
	padding:0;
	margin:0;
}

form {
    position: relative;
    top: -17px;
    right: -713px;
}

form button {
	color: white;
	background-color: #eee;
	box-shadow: -4px -2px blue;
}
	

header {
	background-color: orange;
	padding: 4px;
	box-sizing: border-box;
	height: 97px;
}
 
nav {			
	position: relative;
	background-color: green;
	color: white;
	text-decoration:none;
	height: 37px;
	padding-top: 15px;
	padding-bottom: 0px;
}

nav a{   				
	padding:22px;
	height:0px;
	height:0px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-decoration:none;
	position: relative;
	margin: 0 auto;
}

.bottomhero{
	background-color: aqua;
	height: 300px;
 	position: relative;
}

.greatHero {
	background-color: magenta;
	height: 109px;
	color: white;
	text-align: center;
	font-size: 25px;
	font-family: "Open Sans";
	font-weight: lighter;
	top:163px;
	position: absolute;
	width: 100%;
}

.greatHero .title {
	font-size: 40px;
	margin: inherit;
}

.greatHero .content {
	font-size: 16px;
	font-family: "Open Sans";
}

main {
	display: inline;
	background-color: blue;
	flex: 2.5;

}

.puppytile {
	background-color:yellow;
	display: inline-table;
	margin: 6px;
}

/*---------------------END RESETS----------------------------*/


html {
	font-family: 'Open Sans';
}


.parent, .parentL {
	background-color: teal;
	padding: 0px;
	width: 1156px;
	height: 1150px;
}

.hero, .heroL {
	width: 960px;
	width: 960px;
	background-color: #00CCFF;
	padding-left: 99px;
	padding-right: 99px;
}

.title p, .titleL p {
	color: white;
	background-color: red;
	font-family: 'Open Sans';
	text-decoration: underline;
	width:87px;
	padding:0;
	margin:0;
}

form, formL {
    position: relative;
    top: -17px;
    right: -713px;
}

form button {
	color: white;
	background-color: #eee;
	box-shadow: -4px -2px blue;
}
	

header, headerL {
	background-color: orange;
	padding: 4px;
	box-sizing: border-box;
	height: 97px;
}
 
nav, navL {			
	position: relative;
	background-color: green;
	color: white;
	text-decoration:none;
	height: 37px;
	padding-top: 15px;
	padding-bottom: 0px;
}

nav a, navl a {   				
	padding:20px;
	height:0px;
	height:0px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-decoration:none;
	position: relative;
	margin: 0 auto;
}

.bottomhero, .bottomheroL{
	background-color: aqua;
	height: 300px;
 	position: relative;
}

.greatHero, .greatHeroL {
	background-color: magenta;
	height: 109px;
	color: white;
	text-align: center;
	font-size: 25px;
	font-family: "Open Sans";
	font-weight: lighter;
	top:163px;
	position: absolute;
	width: 100%;
}

.greatHero .title {
	font-size: 40px;
	margin: inherit;
}

.greatHero .content {
	font-size: 16px;
	font-family: "Open Sans";
}

main {
	display: inline;
	background-color: blue;
	flex: 2.5;

}

.main {
	background-color:yellow;
	display: inline-table;
	margin: 6px;
}

.primary-content, .primary-contentL {
	width: 960px;
	background-color: purple;
	padding-left: 99px;
	padding-right: 99px;
	font-family: "Open Sans"
}

.selectionBar{
	display: flex;
	background-color: green;
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-size: 17px;
}

/* break this into a layout piece and a presentation piece */
.selection, .selectionL {
	height:150px;
	width:120px;
	padding-top: 10px;
	display: inline-block;
	background-color: lime;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 0px;
	text-align: center;
	transform: translate(0px, -18px);
	flex: 1;
}

.selection button {
	background-color: #ddd;
	position: relative;
	font-size: 16px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:6px;
	padding-right:6px;
   }


main, mainL{
	display: inline;
	background-color: blue;
	flex: 2.5;
	height:534px;
}

.puppytile {
	background-color:yellow;
	display: inline-table;
	margin: 6px;
	height: 200px;
	width: 160px;
	
}

.puppytile img {
	width: 160px;
	height: 160px;
}

main .title {
border-bottom: solid black 1px;
}

/***********************************/
.bottomprimary, .bottomprimaryL {
	height:540px;
	display: flex;
	background-color:salmon;
}

aside {
	height:400px;
	width:400px;
	background-color: lime;
}


.puppyrow, .puppyrowL{
	height:85px;
	width: 380px;
	margin:10px;
	background-color: red;
	word-wrap: break-word;
}



.puppyrow .image img{
	height:85px;
	width:85px;
	background-color:gray;
	}


 .puppyrow .title, .puppyrow .titleL {
	background-color:yellow;
	flex:1;
	position: relative;
	top:-90px;
	left:85px;
	width: 287px;
	padding-left:7px;
	padding-right: 2px;
	height:70px;
	border-bottom: solid black 1px;
}

.puppyrow .content {
	background-color:yellow;
	height: 22px;
}
/**********************************/








